<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Profile</title>
    <link href="../static/css/profile.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="../static/images/profile.png">
                </div>
                <div class="info">
                    <div class="title">
                        <p>Student Name</p>
                    </div>

                    <div id="tableContainer-1">
                        <div id="tableContainer-2" style="overflow-x:auto;">
                            <table id="myTable" border>
                                <tr>
                                    <td id="app_code">
                                        <p>Application Code</p>
                                        <p>#</p>
                                    </td>
                                    <td id="name">
                                        <p>Name</p>
                                        <p>#</p>
                                    </td>
                                    <td id="email">
                                        <p>Email</p>
                                        <p>#</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="school">
                                        <p>School</p>
                                        <p>#</p>
                                    </td>
                                    <td id="interview">
                                        <p>Interview Date</p>
                                        <p>#</p>
                                    </td>
                                    <td id="mentor">
                                        <p>Mentor</p>
                                        <p>#</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
</div>
</body>
</html>