<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Profile</title>
    <link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700,900" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">
                    <div class="logout_div">
                        <a class="logout" href="{{ url_for('logout') }}">Log out</a>
                    </div>
                </div>
                <div class="avatar">
                    <!-- <img alt="" src={{ url_for('static', filename='images/profile.png') }}> -->
                    <img alt="" src="">
                </div>
                <div class="info">
                    <div class="title">
                        <p> My Account </p>
                    </div>

                    <div id="tableContainer-1">
                        <div id="tableContainer-2" style="overflow-x:auto;">
                            <table id="myTable">
                                <tr>
                                    <td id="app_code">
                                        <p>Application Code</p>
                                        <p>{{ user.applicant_id }}</p>
                                    </td>
                                    <td id="name">
                                        <p>Name</p>
                                        <p> {{ user.first_name}} {{ user.last_name}} </p>
                                    </td>
                                    <td id="email">
                                        <p>Email</p>
                                        <p> {{ user.email }} </p>
                                    </td>
                                    <td id="school">
                                        <p>School</p>
                                        <p>{{ user.school.name }} </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="interview">
                                        <p>Interview Date</p>
                                        <p> {{ user.interview[0].slot.start }} </p>
                                    </td>
                                    <td id="mentor">
                                        <p>Mentor</p>
                                        <p> {{ user.interview[0].slot.assigned_mentor.first_name }} {{ user.interview[0].slot.assigned_mentor.last_name }} </p>
                                    </td>
                                    <td id="app_date">
                                        <p>Application Date</p>
                                        <p> {{ user.application_date }} </p>
                                    </td>
                                    <td id="app_status">
                                        <p>Application Status</p>
                                        <p> {{ user.status }} </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
</div>
</body>
</html>