<!DOCTYPE html>
<html>
<head>
	<title>Succes</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home_resources/homepage.css') }}">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('login') }}">
					<img alt="Brand" src="{{ url_for('static', filename='home_resources/cclogolarge.png') }}" width="170px">
				</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid second_section" style="height: 100vh;">
		<div class="container second_container" style="padding-top: 40px;">
			<h1 class="apply_text" style="margin-top: -200px;">Success! Please check your email for further details.</h1>
			<a href="{{ url_for('login') }}"><button class="btn btn-danger btn-lg btn_apply">Back to the Homepage</button></a>
		</div>
	</div>
	<div class="container-fluid footer_section">
		
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>